name: Maven .m2 primer

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Set up JDK 13
      uses: actions/setup-java@v1
      with:
        java-version: 13

    - name: Set up environment
      run: |
        export
        declare -x SANE_DATE_COMMAND="date +%Y-%m-%d--%H-%M-%S"
        declare -x SANE_DATE_FORMAT="%Y-%m-%d--%H-%M-%S"
        declare -x START_OF_BUILD="$(${SANE_DATE_COMMAND})"
        echo "::set-env name=SANE_DATE_COMMAND::${SANE_DATE_COMMAND}"
        echo "::set-env name=SANE_DATE_FORMAT::${SANE_DATE_FORMAT}"
        echo "::set-env name=START_OF_BUILD::${START_OF_BUILD}"

    - name: Set up environment
      run: |
        export
        declare -x ARTIFACT_NAME="m2-primer"
        declare -x ARTIFACT_ARCHIVE_NAME="${ARTIFACT_ARCHIVE_NAME}.zip"
        declare -x ARTIFACT_PATH="$HOME"
        echo "::set-env name=ARTIFACT_NAME::${ARTIFACT_NAME}"
        echo "::set-env name=ARTIFACT_ARCHIVE_NAME::${ARTIFACT_ARCHIVE_NAME}"
        echo "::set-env name=ARTIFACT_PATH::${ARTIFACT_PATH}"

    - name: Download artifact
      uses: actions/download-artifact@master
      with:
        name: ${{ env.ARTIFACT_ARCHIVE_NAME }}
        path: ${{ env.ARTIFACT_PATH }}

    - name: Extract imaged .m2 directory
      run: |
        cd "${HOME}"
        unzip "${ARTIFACT_ARCHIVE_NAME}"
        rm -rf .m2
        mv "${ARTIFACT_NAME}" .m2
        echo "Checking fo rupdates"
        mvn -B dependency:resolve --file pom.xml

#    - name: Deploy to GitHub Package Registry
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      run: |
#        mkdir -p ~/.m2
#        echo "GITHUB_TOKEN=${GITHUB_TOKEN}"
#        echo "<settings><servers><server><id>github</id><username>ggerard</username><password>${GITHUB_TOKEN}</password></server></servers></settings>" > ~/.m2/settings.xml
#        mvn -B dependency:resolve --file pom.xml
